<% if game.pending? %>
  <div class="bg-gray-100 p-4 rounded-lg shadow-md">
    <div class="mb-4">
      <span class="font-semibold">Mesa:</span> <%= game.table + 1 %>
    </div>

    <div class="mb-4">
      <span class="font-semibold">Ronda:</span> <%= game.round %>
    </div>

    <h3 class="text-xl font-semibold mb-2">Jugadores:</h3>
    <div class="grid grid-cols-2 gap-4">
      <% game.players.each do |player| %>
        <div class="bg-white p-4 rounded-md shadow aspect-square flex items-center justify-center">
          <%= player.full_name %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>

  <div class="p-2 rounded-xl shadow-md w-1/3">
    <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold mb-4">
      <%= game.created_at.strftime('%d/%m/%Y') %>
      <%= link_to "View", game_path(game) %>
    </div>

    <div class="grid grid-cols-3 gap-1 mb-6">
      <%= player_info_in_card('blue', '南', 2, game.player_score_data(game.players[1])) %>
      <%= player_info_in_card('green', '西', 1, game.player_score_data(game.players[2])) %>
      <%= player_info_in_card('red', '東', 3, game.player_score_data(game.players[0])) %>
      <%= player_info_in_card('yellow', '北', 2, game.player_score_data(game.players[3])) %>
    </div>
  </div>

<% end %>