<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= content_for(:title) || Rails.application.config.application_name || "Untitled" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png?random=111" type="image/png">
<!--  <link rel="icon" href="/icon.svg" type="image/svg+xml">-->
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'tabs-selection' %>
</head>
<body>
<div>
  <%= flash.alert %>
  <%= notice %>
  <%# if Current.session.present? %>
    <%#= button_to session_path, method: :delete, class: "fixed top-4 left-4 bg-red-500 hover:bg-red-600 text-white rounded-full p-3 shadow-lg transition duration-300 ease-in-out" do %>
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />-->
<!--      </svg>-->
    <%# end %>
  <%# end %>


  <%= yield %>
  <%= render partial: 'shared/updates' %>
</div>
</body>
</html>